table.d1{ background-image: linear-gradient(to bottom, rgb(0,0,0), rgb(0,100,0));}

table.d2{background-image: linear-gradient( rgb(0,100,0), rgb(0,0,0))}

aside{ width: 400px; 
    height:1000px; }

td.td1{background-image: linear-gradient( rgb(0,100,0), rgb(0,0,0))}

body{text-align: center;
     background-color: rgb(0,0,0); 
     font-size: medium;}

select{text-align:center; 
    border-radius: 50%; 
    border-color: transparent; }

button.b4{border-radius: 5%; background-image: linear-gradient( rgb(0,0,0), rgb(0,100,0))}

button.bt2{
    background-color: yellow;
}
h5{
color: antiquewhite;
}
p{
color: bisque;

}
select{background-image: linear-gradient(to bottom, rgb(54,54,54), rgb(28,28,28)); 
    width: 230px; 
    height: 50px; 
    font-size: medium; }

h4{background-color: rgb(57, 57, 255);}

footer{ background-image: linear-gradient(  rgba(70, 112, 25, 0.478), rgb(26, 26, 26));}

h1{ text-align:left; 
    color: blanchedalmond; 
    border-color: chocolate;}

h3.t2{text-align: left; 
    color: rgb(255, 255, 255); 
    border-radius: 20%;}

img.img1{position: left;
}

footer.c1{background-color:antiquewhite ;}

a{ text-decoration: none; 
    font-size: medium;}
table{
    border: 1px solid;
    width: 264px;
    height: 150px;
}